<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <style>

        /"CSS"/

        body{
            background: black;
        }
        h1{
            color: white;
            font-size: 50px;
            text-align: center;
            margin-top: 50vh;
        }
    </style>
</head>
<body>

    <h1 style="color:red;text-align:center; font-size:50px; margin-top:50vh; background-color: blue ;"></h1> a sistemas latinos</h1>
    <a href="https://www.google.com/">IR A LA WEB   </a>
    
</body>
</html>